/* Estilização para Mobile */

@media screen and (max-width: 768px) {

  body {
      max-width: 768px;
      max-height : 1024px;
      min-width: 411px;
      min-height: 731;
  }

  #img-menu {
    display: flex;
    width: 18px;
    margin: 20px;
}

  .corpo {
      display: flex;
      flex-direction: column;
      width: 100%;
  }

  form {
      width: 90%;
      border: none;
      margin: -30px;
  }

#titulo-form {
display: none;
}

  ul.hamburguer-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      background-color: rgba(51, 51, 51, 1);
      width: 351px;
      height: 1000px;
      right: 0px;
      top: 0px;
      margin: 0px;
  }
  ul.hamburguer-menu li.right {float: right;}
  ul.hamburguer-menu li {float: none;}
  
  ul.hamburguer-menu li a {
      color: white;
      text-align: right;
  }
  ul.hamburguer-menu li a:hover {
      background-color: #C4C4C4;
      color: black;
  }
  ul.hamburguer-menu #fechar {
      display: flex;
      width: 16px;
      height: 16px;
      margin: 20px  
  }

  }
}