/* Styling for Mobile */

@media only screen and (max-width: 559px) {
  /* adjusting size in mobile mode */
  /* making the side menu appear on the mobile */
 
  body {
    max-width: 559px;
    max-height: 1024px;
    min-width: 0px;
    min-width: 0px;
  }

  /* Header */ 
  nav {
    width: 95%;
  }

  .header-items {
    display: contents;
  }
  
  /* Menu */
  
  /* the hamburger-menu icon appears */
  #img-menu {
    display: flex;
    width: 20px;
    z-index: 1;
    cursor: pointer;
  }

  ul.hamburguer-menu {
    display: none;
    flex-direction: column;
    background-color: rgba(51, 51, 51, 1);
    width: 351px;
    height: 100%;
    right: -300px;
    top: 0px;
    margin: 0px;
    transition: all .2s linear;
    text-align: right;
    animation-direction: left;
  }

  ul.hamburguer-menu li.right {float: right;}

  ul.hamburguer-menu li a {
    color: white;
  }

  ul.hamburguer-menu li:hover {
    background-color: #C4C4C4;
    color: black;
    transition: all .2s linear;
  }

  button.open-menu {
    border-color: transparent;
    background-color: rgba(224, 224, 224, 1);
    cursor: pointer;
  }

  button.close-menu {
    background-color: transparent;
    border-color: transparent;
  }

  ul.hamburguer-menu #close {
    display: flex;
    width: 16px;
    height: 16px;
    margin: 20px;
    cursor: pointer;
  }

  ul.hamburguer-menu.oppened {
    display: flex;
    position: fixed;
    transform: translate(-300px);
  }

  #menu-item1, #menu-item2 {
    border-right: none;
    margin-right: -20px;
  }

  /* body items are in a column on the mobile */
  .body-elements {
    display: flexbox;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
  }

  /* Form */

  /* title of the form add on mobile */

  #form-title {
    display: none;
  }

  /* form loses the border */

  form {
    display: flex;
    width: 100%;
    border: none;
    border-bottom: 1px solid #979797;
    padding-bottom: 30px;
  }

  .form-items {
    width: 100%;
  }
  
  /* Table */

  .table-statement {
    display: flex;
    width: 95%;
    padding: 10px;
    box-sizing: content-box;
  }

  #table-title {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #value-description {
    text-align: center;
  }
}