header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(224, 224, 224, 1);
    position: relative;
    height: 80px;
}

.hamburguer-menu {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: white;
    width: 350px;
    height: 40px;
}

/* responsividade menu */
@media (max-width: 768x) {
    .hamburguer-menu{
      flex-direction: column;
      display: flex;
      position: absolute;
      width: 351px;
      right: 0px;
      top: 24px;
      background-color: rgba(51, 51, 51, 1);

    }
  }

/*
.modo-menu {
    display: flex;
    position: absolute;
    width: 351px;
    height: 1000px;
    right: 0px;
    top: 24px;
    background-color: rgba(51, 51, 51, 1);
}