/* Styling for Mobile */

@media only screen and (max-width: 559px) {
  /* adjusting size in mobile mode */
  /* making the side menu appear on the mobile */
 
  body {
    max-width: 559px;
    max-height: 1024px;
    min-width: 0px;
    min-width: 0px;
}

  /* Header */ 

  label {
    display: flex;
    width: 18px;
    margin: 20px;
    z-index: 1;
    cursor: pointer;
}

nav {
  width: 95%;
  margin-left: 25px;
}

.header-items {
  display: contents;
}

/* Menu */

/* the hamburger-menu icon appears */
#img-menu {
  display: initial;
}

/* On mobile, there is a black side menu that appears when you click on the icon */
ul.hamburguer-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(51, 51, 51, 1);
  width: 351px;
  height: 110vh;
  right: -400px;
  top: 0px;
  margin: 0px;
  transition: all .2s linear;
  text-align: right;
  animation-direction: left;
  
}

ul.hamburguer-menu li.right {
  float: right;
}

ul.hamburguer-menu li a {
  color: white;
}
ul.hamburguer-menu li:hover {
  background-color: #C4C4C4;
  color: black;
  transition: all .2s linear;
}
ul.hamburguer-menu #close {
  display: flex;
  width: 16px;
  height: 16px;
  margin: 20px;
  cursor: pointer;
}

#menu-item1, #menu-item2 {
border-right: none;
margin-right: -20px;
}

/* menu button in operation */
#check:checked ~ ul.hamburguer-menu {
  transform: translate(-400px);
}

#check:checked ~ ul.hamburguer-menu nav a .li{
  opacity: 1;
  margin-top: 0;
}

/* close button in operation */


  /* body items are in a column on the mobile */
  .body-elements {
      display: flexbox;
      flex-direction: column;
      width: 100%;
      margin-top: 0px;
  }

  /* Form */

/* title of the form add on mobile */
#form-title {
  display: none;
}

  /* form loses the border */

  form {
    display: flex;
    width: 100%;
      border: none;
      border-bottom: 1px solid #979797;
      padding-bottom: 30px;
      margin-left: 0px;
  }

  .form-items {
    width: 100%;
  }

/* Table */

.table-statement {
  display: flexbox;
  width: 95%;
  margin-top: 10px;
}

#table-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

#value-description {
  text-align: center;
}


  }
}